body{
	font-family:Arial, sans-serif;
	margin:0;
	background: #f8fafc;
}

header{
		position:sticky;
		top:0;
		background:#F1F5F9;
		text-align:center;
		padding:10px;
		z-index: 1000;
}

.logo{
		width:80px;
}

.heading-bar{
			background: #1E3A8A;
			color:#F9FA8A;
			padding:10px;
			marging-top:10px;
}

.content-box h2 {
			background:rgba(255,255,255,0.9);
			margin:20px;
			padding:20px;
			border-radius:10px;
			border :1px solid #ccc;
			box-shadow:0 4px 8px rgba(0,0,0,0.1);
			text-align:justify;
}

.content-box h2 {
					color: #1E3A8A;
}

.center {
			text-align: center;
			margin: 20px;
}

.btn{
		background:#1E3A8A;
		color:#F9FAFB;
		padding:10px 20px;
		border-radius:8px;
		text-decoration:none;
}

.btn-hover{
			background:#162F6F;
}

.back-btn{
			background:#0B6B65;
}
back-btn:hover{
				background: #0B6B65;
}

.gallery{ 
			display:grid;
			grid-template-columns:1fr 1fr;
			gap:20px;
			padding:20px;
}

.gallery-box img{
					width:100%
					boder-radius:10px;
					transition:transform 0.3s;
}

.gallery-box hover img{
				transform:scale(1.05);
}

.gallery-box p{
				font-weight:bold;
				color:#1E3A8A;
}

footer{
		background:#1E3A8A;
		color:#F9FAFB;
		text-align:center;
		padding:10px;
		position:sticky;
		bottom:0;
}

